<h2>Create Action</h2>

<form id="createForm" method="post" action="Auctions/Create/">
<label>Title</label>
<input name="Title" />


<br/>
<label>PictureURL</label>
<input name="PictureURL" />

<br />
<label>Description</label>
<input name="Description"/>

<br />
<label>ActualAmount</label>
<input name="ActualAmount"/>
<br />
<label>StartingTime</label>
<input name="StartingTime"/>
<br />
<label>EndingTime</label>
<input name="EndingTime"/>
<br />

<button type="button" id="saveButton">
    Save
</button>

</form>
<script>
    $("#saveButton").click(function () {
        $.ajax({
            url: "Create/",
            method: "post",
            data: $("#createForm").serialize()
        }).done(function (response) {
            $("#listingArea").html(response);
        });
    });
</script>