@model DealDouble.Entities.Auction

<h1>Are you sure you wantto delete this auction</h1>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID"/>
    <button>Yes</button>

</form>

<form method="get" action="/Auctions/">
   
    <button>No</button>
</form>