@model DealDouble.Web.ViewModels.UserDetailsViewModel
@{
    ViewBag.Title = "UserDetails";
}

@if (Model != null && Model.User != null)
{
    <h2>
        @Model.User.UserName
    </h2>
}
else
{
    <div class="alert alert-danger" role="alret">
        No User Found
    </div>
}
